/*Profile tab in MOBILE VIEW (header) background and text color, border size and color*/
.profileTabStyleMobileView {
    background-color:   navy;
    color:              white;
    border-style:       solid;
    border-color:       black;
}

/*create some space between each label in the profile tab*/
.profileTabStyleMobileView label {
    margin: -10px 20px 20px 20px;
}

/*Tips from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_square
and https://www.w3schools.com/howto/howto_css_shapes.asp*/
/*Profile tab box that displays the player's color*/
.square {
    height:             3.6em;
    width:              3.6em;
    background-color:   lightblue;    
    position:           relative;
    bottom:             -40px;
}


#gameBoardStyleMobileView {
    background-color:   white;
    color:              black;
    border-style:       solid;
    border-color:       black;
    padding: 20px;/*space around the game board*/
}

#gameBoard {
    position: relative;
}

/*Tips from: http://cssmenumaker.com/blog/stacking-elements-with-z-index/ */
/*Square shaped game board's container with an image in the middle */
/*Because the parent containter, gameboard, is relative and set, these smaller cards can be
absolute in position*/
.specialArea {
    position:   absolute;
    top:                20px;
    height:             4em;
    width:              4em;  
    background-color: bisque;
}

#property {
    position:   relative;
    top:                20px;
    /*left:               55px;*/
    margin-left:        55px;
    height:             4em;
    width:              4em;
    background-color: lightblue;
}


